.Navigation {
    display: flex;
    background: black;
    min-height: 5vh;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.Link {
    color: white;
    list-style: none;
    font-size: 20px;
}